body{
    max-width: 100%;
}
.table{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 50px;
}
table{
    border: solid yellow 1px;
    padding: 10px;
}

td{
    border:  solid 1px;
    padding: 100px;
    text-align: center;
}