body{
    max-width: 100%;
}
.table{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}
table{
    border: solid yellow 1px;
}

td{
    border:  solid 1px;
    padding: 5px;
    text-align: center;
}